body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    background-color:rgba(109, 110, 104, 0.8);
}

.header-container{
    position: absolute;
    width: 100vw;
    height: 100px;
    background-color: black;
}

.social-media{
    display: flex;
    position: relative;
    left: 90%;
    top: 70%;
    font-size: 15px;
}

.social-media a{
    color: #e6e0d1;
    margin: 0 10px
}

.logo a{
    position: relative;
    left: 5%;
    color: #e6e0d1;
    font-size: 46px;
}

.logo h1 {
    display:flex;
    position: absolute;
    color: #e6e0d1;
    top: 10%;
    left: 10%;
}

.nav-container{
    display: flex;
    position: absolute;
    top: 60%;
    left: 42%;
}
.nav-container li{
    display: inline;
    width: 40px;
    border-left: 1px solid #e6e0d1;
    
}
.nav-container li:nth-child(2){
    display: inline;
    width: 40px;
    border-right: 1px solid #e6e0d1;
    
}
.nav-container a{
    list-style: none;
    text-decoration: none;
    color: #e6e0d1;
    margin: 0 20px;
    font-weight: 700;
}


.footer-container{
    position: absolute;
    top: 100%;
    width: 100vw;
    height: 100px;
    background-color: black;
}

.footer-container > .social-media{
    display: flex;
    position: relative;
    left: 45%;
    top: 50%;
    font-size: 15px;
}

.footer-container > .social-media a{
    color: #e6e0d1;
    margin: 0 10px
}

small{
    color:  #e6e0d1;
    display: flex;
    position: relative;
    left: 43%;
    top: 60%;
    font-size: 10px;
}


.h2-text{
    width: 400px;
    height: 50px;
    color: #e6e0d1;
    position: absolute;
    display: inline;
    top: 20%;
    left: 10%;
}

.inputs{
    position: absolute;
    top: 50%;
    left: 20%;
    
}

.inputs input{
    width: 170px;
    height: 30px;
    margin: 10px 0px;
    border: none;
    background: none;
    border-bottom: 2px solid black;
    color: #e6e0d1;
    
}
::-webkit-input-placeholder {
    color: #e6e0d1;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    color: #e6e0d1;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #e6e0d1;  
 }
 
 :-ms-input-placeholder {  
    color: #e6e0d1;  
 }

.inputs button{
    width: 170px;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    border-radius: 20px;
    border:none;
    cursor:pointer;
    background-color: #b57070;
    color:#030000;
}

.inputs button:hover{
    transform: scale(1.05);
}

.combate-ordenado{
    position: absolute;
    top: 50%;
    right: 20%;
    
}
.combate-ordenado button{
    width: 170px;
    height: 30px;
    text-align: center;
    margin-top: 5px;
    border-radius: 20px;
    border:none;
    cursor:pointer;
    background-color: #b57070;
    color:#030000;
}

.combate-ordenado button:hover{
    transform: scale(1.05);
}

